@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;;

}
.middle{
  margin-inline: 3em;
  padding: 2em;
  gap: 1em;
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form{
  background-color: hsla(317, 98%, 75%, 0.6);
  border-radius: 15px;

}
.center {
  display: flex;
  justify-content: center;
  width: 80%;
}
button{
  background-color: #cd80fe;
  padding: 1em;
  border-radius: 15px;
  border: none;
  width: 100px;
  margin-left: 1em;
}
button:hover{
  background-color: #2ec7f6;
}
input{
  border-radius: 15px;
  border: 2px solid #fe80da;
  width: 100%;
}
.face-box{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  box-shadow: 0 0 0 3px #1496df inset;

}
.signInForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
}
.signInForm form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 1em;
}
.signInForm input{
  padding: 1em;
  text-decoration: none;
}
.rightNav{
  display: flex;
  align-items: center;
}
.links{
  padding-left: 1em;
  text-decoration: none;
  font-size: 1.5em;
  color: #ac63e1;
}